@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  overflow-x: hidden;
}

body.active-menu {
  overflow: hidden !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

.icon {
}

.hide {
  display: none;
}

.btn {
  background-color: #1d4ed8;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.btn:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  background-color: rgb(59 130 246);
}

.btn-sm {
  width: 50px;
  height: 25px;
  font-size: 0.75rem;
  font-weight: 600;
  background-color: #1d4ed8;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.danger {
  background-color: #e53e3e;
}
.danger:hover {
  background-color: #c53030 !important;
}

.btn-sm:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
  background-color: rgb(59 130 246);
}

.layout {
  display: grid;
  grid-template-rows: 72px 1fr auto;
  min-height: 100vh;
}

nav {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  z-index: 999;
  height: 72px;
  align-items: center;
}

/* .transparent-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
} */

main {
}

.menu-line {
  width: 30px;
  height: 2px;
  background-color: #1d4ed8;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.top-bar {
  transform: rotate(45deg) translate(3px, 4px);
  transition: all 0.3s ease-in-out;
}

.middle-bar {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.bottom-bar {
  transform: rotate(-45deg) translate(5px, -8px);
  transition: all 0.3s ease-in-out;
}

.mobile-menu {
  margin-top: 52px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50vh;
  background: #fff;
  overflow: hidden;
}

.mobile-menu li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d4ed8;
  padding: 10px 0;
  border-bottom: 1px solid #1d4ed8;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mobile-menu li:hover {
  background-color: #1d4ed8;
}

.mobile-menu li:hover a {
  color: #fff;
}

.mobile-menu.inactive {
  transition: all 0.5s ease-in-out;
  height: 0;
  opacity: 0;
}

.mobile-menu.active {
  transition: all 0.5s ease-in-out;
  height: 500px;
  opacity: 1;
}

.banner-img {
  border-radius: 50%;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instructor-container {
  border-radius: 50%;
  overflow: hidden;
}

.workoutmodal {
  height: 0;
  width: fit-content;
  max-width: 525px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: 9999;
  overflow: hidden;
  overflow-y: scroll;
}

.workoutmodal.active {
  height: 525px;
  opacity: 1;
  overflow-y: scroll;
}

.planContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.step {
  width: 475px;
}

.chat.active {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

.chat.inactive {
  transform: translateY(87%);
  transition: transform 0.5s ease-in-out;
}

.chat {
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.chat-inner {
  overflow-y: scroll;
  height: 100%;
  background-color: #fff;
}

.chat-inner::-webkit-scrollbar-track,
.workoutmodal::-webkit-scrollbar-track,
text-area::-webkit-scrollbar-track {
  background-color: transparent;
}
.chat-inner::-webkit-scrollbar,
.workoutmodal::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 5px;
}

.chat-inner::-webkit-scrollbar-thumb,
.workoutmodal::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background-color: #1d4ed8 !important;
  border-radius: 10px;
}

.workoutmodal .hasWorkouts.monthView {
  background: rgb(25, 230, 69) !important;
}

.react-calendar__month-view__days__day.hasWorkouts {
  background: white !important;
  color: black !important;
}

.workout {
  background: rgb(25, 230, 69) !important;
}

.react-calendar {
  /* width: fit-content !important; */
  /* margin: auto; */
  width: 100vw !important;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.react-calendar__month-view__days {
  height: 300px;
  width: 100%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1d4ed8 !important;
}
.react-calendar__tile {
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.react-calendar__tile:hover {
  background: #1d4ed8 !important;
  transform: scale(1.04);
  transition: all 0.3s ease-in-out;
  z-index: 10;
  color: white !important;
}

.react-calendar__tile.react-calendar__tile--now {
  border: 3px solid rgb(243, 56, 56) !important;
}

.legend-container {
}
.legend-box {
  height: 24px;
  width: 24px;
}

.completed {
  background: rgb(25, 230, 69) !important;
}

.incomplete {
  background: white;
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
}

.today {
  border: 1px solid #c53030;
}

.step.active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  display: block;
  padding: 20px;
}

.step {
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  display: none;
  font-size: 24px;
}

.AI-response {
  background: #1f1f1f;
  color: white;
  border-radius: 5px;
  min-height: 300px;
  height: fit-content;
  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.workoutAI-form {
  background: #f8f8f8;
}

.chatgpt-typing-effect-container {
  position: relative;
}

.chatgpt-typing-effect-text {
  display: relative;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.chatgpt-typing-effect-cursor {
  position: relative;
  left: 5px;
  width: 10px;
  height: 20px;
  background-color: #1d4ed8;
  animation: cursor-blink 1s infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
