@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
}

.hasWorkouts {
  background: green !important;
}
